body {
  padding-top: 5rem;
}

body, p, main {
  font-family: HelveticaNeue, sans-serif;
}

h1, h2, h3, h4, .card-header {
  font-family: "Bebas Neue", sans-serif;
}

#headerImage {
  height: 30px;
}

.alert-success {
  color: #ffffff;
  background-color: #006341;
  border-color: #006341;
}

.btn-success {
  color: #ffffff;
  background-color: #006341;
  border-color: #006341;
}

.card {
  border-color: #4d4d4d;
  margin-bottom: 1em;
}

.card-footer {
  background-color: #a09c8e;
  border-top-color: #4d4d4d;
  font-size: .8rem;
}

.card-header {
  background-color: #6AB023;
  border-bottom-color: #4d4d4d;
  font-size: 1.15rem;
}

.form-check-input, .form-control {
  border: 1px solid #006341;
}

.form-check-input:focus, .form-control:focus {
  border-color: #006341;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

.form-check-input:checked{
  background-color: #006341;
}

.form-control {
  margin-bottom: .5rem;
}

.row-header {
  font-weight: bold;
}
